/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    background-color: #325B87;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex-item {
    margin: auto;
    padding: 0 10px;
    min-width: 200px;
}

.logo img {
    margin: auto;
    width: 220px;
    height: 60px;
    filter: drop-shadow(
        0 0 10px rgb(0,0,0,8)
    );
}

.flex-item ul {
    display: flex;
    flex-wrap: wrap;
    color: white;
    margin: auto;
}

.div__ul-li {
    list-style-type: none;
    margin: auto;
    padding: 0 25px;
}

.ul__li-a {
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-img img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 10px;
    width: 65px;
    height: 65px;
} */

/*! Acaba navbar*/

/* .saludo {
    margin: 0 25px 0 25px;
    border-bottom: 2px solid #8E8E8E;
    color: #8E8E8E;
    padding: 15px;
    font-size: 25px;
}

.titulo {
    margin: 0 25px 0 25px;
}

.titulo h1 {
    padding: 15px;
    font-size: 30px;
}

.container {
    margin-top: 20px;
}

.container__fila {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.container__items {
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    padding: 5px 20px;
    margin: 30px 60px;
    background-color: #EFF1F0;
    max-width: 250px;
}

.container__items h6 {
    text-align: center;
    color: #010D82;
    font-size: 20px;
}

.container__items p {
    text-align: center;
    font-size: 18px;
} */